@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
}

.main-screen, .memory-block, .time-zone, .timing-block{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, auto);
}

.item {
    border: 0.5px solid #000;
}

.jan{
    grid-row: 1;
    grid-column: 1 / 3;
    font-size: 200px;
    text-align: left;
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: -10px;
}

.winter{
    grid-row: 1;
    grid-column: 4;
    font-size: 25px;
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 0.8;
    padding: 5px 0 0 5px;
}

.winter .typing, .plot .typing, .live-actions .typing, 
.time-files .typing, .pl .typing, .memory-2 .typing,
.part-1 .typing, .memory-1 .typing, .part-2 .typing,
.mem-3 .typing, .text .typing, .text-mem5 .typing,
.period .typing, .jan .typing, .uary .typing, .memories .typing,
.name .typing, .group .typing{
    width: 50%;
    height: 25px;
    border-right: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40, end) infinite, blink 0.4s step-end infinite;
}

.plot .typing{
    height: 20px;
}

.jan .typing, .uary .typing{
    height: 200px;
}

.memories .typing{
    height: 160px;
}

.time-files .typing, .memory-2 .typing,
.memory-1 .typing, .memory-1 .typing,
.pl .typing, .mem-3 .typing, .text .typing,
.text-mem5 .typing, .period .typing, 
.jan .typing, .group .typing{
    animation: typing-tf 3s steps(40, end) infinite, blink 0.4s step-end infinite;
}

.uary .typing{
    animation: typing-uary 3s steps(40, end) infinite, blink 0.4s step-end infinite;
}

.memories .typing{
    animation: typing-mem 4s steps(40, end) infinite, blink 0.4s step-end infinite;
}

.winter p, .plot p, .live-actions p,
.time-files p, .pl p, .memory-2 p, 
.part-1 p, .memory-1 p, .part-2 p, .mem-3 p,
.text p, .text-mem5 p, .period p, .jan p,
.uary p, .memories p, .name p, .group p{
    display: inline-block;
}

@keyframes typing {
    0%{
      width: 0%;
    }
    80%{
      width: 60%;
    }
    100%{
        width: 0%;
      }
}

@keyframes typing-tf {
    0%{
      width: 0%;
    }
    80%{
      width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes typing-uary {
    0%{
      width: 0%;
    }
    80%{
      width: 150%;
    }
    100%{
        width: 0%;
    }
}

@keyframes typing-mem {
    0%{
      width: 0%;
    }
    80%{
      width: 125%;
    }
    100%{
        width: 0%;
    }
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
}

.date{
    grid-row: 1;
    grid-column: 5;
    font-size: 50px;
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 0.8;
    padding: 5px 0 0 5px;
}

.date .time .text-block {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 150px;
    white-space: nowrap;
    position: relative;
}
  
.date .time .text-block .text-t {
    display: inline-block;
    animation: ticks 12s steps(100) infinite;
    transform: translateX(0);
}
  
@keyframes ticks {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.img-plot {
    grid-row: 1 / 3;
    grid-column: 6 / 9;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}
  
.image-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: slideImages 2s infinite; 
}
  
.image-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
@keyframes slideImages {
    0% {
      opacity: 1; 
    }
    50% {
      opacity: 0;
    }
    100% {
       opacity: 1; 
    }
}
  
.image-slide:nth-child(1) {
    animation-delay: 0s;
}
  
.image-slide:nth-child(2) {
    animation-delay: 0.5s;
}
  
.image-slide:nth-child(3) {
    animation-delay: 1s;
}

.plot{
    grid-row: 1;
    grid-column: 9;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 0.8;
    padding: 5px 0 0 5px;
}

.img-time{
    grid-row: 1;
    grid-column: 10;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.uary{
    grid-row: 2;
    grid-column: 1 / 4;
    font-size: 200px;
    text-align: left;
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 0.75;
    padding-left: 190px;
    letter-spacing: -5px;
}

.cal-fu{
    grid-row: 3;
    grid-column: 1 / 3;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 0 5px;
}

.period{
    grid-row: 3;
    grid-column: 3;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 25px 0 0 5px;
}

.img-mem{
    grid-row: 3;
    grid-column: 9;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.your-mem{
    grid-row: 3;
    grid-column: 10;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 0 5px;
}

.memory{
    padding-top: 50%;
    padding-left: 45%;
}

.numb {
    grid-row: 4 / 7;
    grid-column: 1 / 5;
    font-family: "Inter", serif;
    font-size: 600px;
    font-weight: 200;
    line-height: 0.8;
    letter-spacing: -35px;
}

.numb .text-block {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 600px;
    white-space: nowrap;
    position: relative;
}
  
.numb .text-block .text-t {
    display: inline-block;
    animation: ticks 60s steps(500) infinite;
    transform: translateX(0);
}
  
@keyframes ticks {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.text-somebad{
    grid-row: 4;
    grid-column: 5;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 0 5px;

}

.img-live{
    grid-row: 4 / 6;
    grid-column: 6 / 8;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.live-actions{
    grid-row: 4;
    grid-column: 8;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 0 5px;
}

.time-files{
    grid-row: 4;
    grid-column: 10;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 0 5px;
}

.img-pl{
    grid-row: 5 / 7;
    grid-column: 9 / 11;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.button{
    grid-row: 6;
    grid-column: 5;
    padding-top: 30%;
    padding-left: 10%;
}

.button img{
    animation: rotate 3s linear infinite;
}

.button-2 img{
    animation: rotate-2 5s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
      }
}

@keyframes rotate-2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
      }
}

.pl{
    grid-row: 6;
    grid-column: 8;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 0 5px;
}

.part-1{
    grid-row: 1;
    grid-column: 10;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 120px 0 0 5px;
}

.memories{
    grid-row: 2;
    grid-column: 1 / 5;
    font-family: "Inter", serif;
    font-size: 180px;
    font-weight: 400;
    padding: 5px 0 0 5px;
    line-height: 0.8;
    letter-spacing: -5px;
}

.memory-2{
    grid-row: 2;
    grid-column: 6;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 125px 0 0 5px;
}

.img-part1{
    grid-row: 2;
    grid-column: 10;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.memory-1{
    grid-row: 3;
    grid-column: 1;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 285% 0 0 5px;
}

.img-mem2{
    grid-row: 3/5;
    grid-column: 6 / 9;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.part-2{
    grid-row: 3;
    grid-column: 10;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 285% 0 0 5px;
}

.img-mem1{
    grid-row: 4;
    grid-column: 1/4;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.text-mem{
    grid-row: 4;
    grid-column: 4;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 55px 0 55px 5px;
}

.img-part2{
    grid-row: 4;
    grid-column: 10;
    grid-template-rows: 1fr;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.button-2{
    grid-row: 5;
    grid-column: 8;
    padding-top: 20%;
    padding-left: 10%;
}

.marquee-container{
    background-color: #25262B;
    color: #ffffff;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

marquee{
    font-family: "Inter", serif;
    font-size: 90px;
    font-weight: 400;
    padding: 30px 0;
}

.time-zone .time{
    display: flex;
}

.time-zone .time img{
    width: 20px;
    height: 20px;
}

.time-zone .time .block{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
}

.time-zone .time .text-block {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    height: 20px; 
}

.time-zone .time .text-block .text-t {
    padding-top: 40px;
    display: inline-block;
    animation: tick 12s steps(12) infinite; 
    transform: translateY(0);
    white-space: nowrap;
    line-height: 20px; 
}

@keyframes tick {
    0% {
        transform: translateY(0);
    }
    8.33% {
        transform: translateY(-20px);
    }
    16.66% {
        transform: translateY(-40px);
    }
    25% {
        transform: translateY(-60px);
    }
    33.33% {
        transform: translateY(-80px);
    }
    41.66% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(-120px);
    }
    58.33% {
        transform: translateY(-140px);
    }
    66.66% {
        transform: translateY(-160px);
    }
    75% {
        transform: translateY(-180px);
    }
    83.33% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(-220px);
    }
}

.time-zone .tz-1{
    grid-row: 1;
    grid-column: 1/3;
}

.time-zone .tz-1 .time{
    padding: 30% 0% 10% 40%;
}

.time-zone .tz-2{
    grid-row: 1;
    grid-column: 3/5;
}

.time-zone .tz-3 .time{
    padding: 10% 0% 30% 10%;
}

.time-zone .tz-4{
    grid-row: 1;
    grid-column: 6/8;
}

.time-zone .tz-4 .time{
    padding: 50% 0% 10% 10%;
}

.time-zone .tz-8{
    grid-row: 1;
    grid-column: 10;
}

.time-zone .tz-8 .time{
    padding: 70% 0% 10% 10%;
}

.time-zone .tz-2-1{
    grid-row: 2;
    grid-column: 1/3;
}

.time-zone .tz-2-1 .times{
    display: flex;
    flex-direction: column;
}

.time-zone .tz-2-1 .time{
    padding: 20% 0% 0% 10%;
}

.time-zone .tz-2-1 .time-2{
    padding: 60% 0% 0% 10%;
}

.time-zone .img-tz{
    grid-row: 2;
    grid-column: 9/11;
}

.time-zone .tz-2-2{
    grid-row: 2;
    grid-column: 3/5;
}

.time-zone .tz-2-2 .times{
    display: flex;
    flex-direction: column;
}

.time-zone .tz-2-2 .time{
    padding: 25% 0% 0% 10%;
}

.time-zone .tz-2-2 .time-2{
    padding: 30% 0% 0% 40%;
}

.time-zone .tz-2-2 .time-3{
    padding: 40% 0% 0% 20%;
}

.time-zone .img-tz{
    grid-row: 2;
    grid-column: 9/11;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.time-zone .img-mem3{
    grid-row: 2;
    grid-column: 5;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.time-zone .tz-2-3{
    grid-row: 2;
    grid-column: 6/8;
}

.time-zone .tz-2-3 .time{
    padding: 60% 0% 0% 10%;
}

.time-zone .tz-2-4{
    grid-row: 2;
    grid-column: 8;
}

.time-zone .tz-2-4 .time{
    padding: 35% 0% 0% 5%;
}

.time-zone .tz-3-1{
    grid-row: 3;
    grid-column: 1/3;
}

.time-zone .tz-3-1 .time{
    padding: 10% 0% 0% 10%;
}

.time-zone .img-ily{
    grid-row: 3;
    grid-column: 3/5;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.time-zone .mem-3{
    grid-row: 3;
    grid-column: 5;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
}

.time-zone .tz-3-2{
    grid-row: 3;
    grid-column: 6/8;
}

.time-zone .tz-3-2 .time{
    padding: 30% 0% 0% 50%;
}

.time-zone .tz-3-3{
    grid-row: 3;
    grid-column: 8;
}

.time-zone .tz-3-3 .time{
    padding: 10% 0% 0% 10%;
}

.time-zone .tz-3-4{
    grid-row: 3;
    grid-column: 10;
}

.time-zone .tz-3-4 .time{
    padding: 60% 0% 0% 10%;
}

.time-zone .null-1{
    grid-row: 4;
    grid-column: 1/3;
}

.time-zone .text-ily{
    grid-row: 4;
    grid-column: 3/5;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 60px 5px;
}

.time-zone .null-2{
    grid-row: 4;
    grid-column: 6/8;
}

.timing-block .clock{
    grid-row: 1;
    grid-column: 1/3;
    padding-left: 10%;
}

.timing-block .null-1{
    grid-row: 1;
    grid-column: 3/5;
}

.timing-block .img-mem4{
    grid-row: 1;
    grid-column: 5/9;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}

.timing-block .text{
    grid-row: 1;
    grid-column: 9;
    display: flex;
    flex-direction: column;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
}

.timing-block .text .text-mem4{
    padding-top: 5px;
}

.timing-block .text .text-pain{
    padding-top: 235%;
}

.timing-block .null-2{
    grid-row: 2;
    grid-column: 1/3;
}

.timing-block .text-tiyl{
    grid-row: 2;
    grid-column: 3/5;
    font-family: "Inter", serif;
    font-size: 55px;
    font-weight: 400;
    padding: 5px 0 100px 5px;
}

.timing-block .button-2{
    grid-row: 2;
    grid-column: 5;
    padding-top: 80%;
}

.timing-block .null-3{
    grid-row: 2;
    grid-column: 6/8;
}

.timing-block .text-mem5{
    grid-row: 2;
    grid-column: 8;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 150%;
    padding-left: 5px;
}

.timing-block .text-pil{
    grid-row: 2;
    grid-column: 10;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 137%;
    padding-left: 5px;
}

.timing-block .name{
    grid-row: 3;
    grid-column: 1/3;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 30% 0% 5% 5px;
}

.timing-block .null-4{
    grid-row: 3;
    grid-column: 3/5;
}

.timing-block .group{
    grid-row: 3;
    grid-column: 5;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 60% 0% 5% 25%;
}

.timing-block .hse{
    grid-row: 3;
    grid-column: 6/8;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding: 16% 0% 5% 55%;
}

.timing-block .img-mem5{
    grid-row: 3;
    grid-column: 8/11;
    overflow: hidden;
    position: relative; 
    width: 100%; 
    height: 100%;
}